dir /data

tcp-backlog {{ getenv "REDIS_TCP_BACKLOG" "511" }}
tcp-keepalive {{ getenv "REDIS_TCP_BACKLOG" "300" }}

timeout {{ getenv "REDIS_TIMEOUT" "0" }}
loglevel {{ getenv "REDIS_LOG_LEVEL" "notice" }}

databases {{ getenv "REDIS_DATABASES" "16" }}
maxclients {{ getenv "REDIS_MAX_CLIENTS" "10000" }}

notify-keyspace-events {{ getenv "REDIS_NOTIFY_KEYSPACE_EVENTS" "Elg" }}
